---
layout: default
title: 메인 화면
---

<section id="my-content">
    <article id="my-list">
        <h1>모든 포스트</h1>
        <ol id="my-list">
            {% for post in site.posts %}
                <li>
                    <span>{{ post.date|date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ol>
        <ol id="my-paginator">
            <li>
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                {% else %}
                    <span>&laquo; Prev</span>
                {% endif %}
            </li>
            {% for page in (1..paginator.total_pages) %}
                <li>
                    {% if page == paginator.page %}
                        <em>{{ page }}</em>
                    {% elsif page == 1 %}
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <li>
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                {% else %}
                    <span>Next &raquo;</span>
                {% endif %}
            </li>
        </ol>
    </article>
</section>