body, div, main, aside, article, header, section, nav, footer{
    margin: 0;
    padding: 0;
}

#my-body{
    background: #0000ff;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" ". content sidebar" "footer footer footer";
}

#my-header{
    grid-area: header;
    height: 25em;
}

#my-sidebar{
    grid-area: sidebar;
    align-self: flex-start;
    justify-self: flex-end;
    padding: 15px;
    background: white;
    position: sticky;
    top: 0;
}

#my-content{
    grid-area: content;
    background: #A8A3A0;
    padding: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

#my-content>article{
    border: 10px gray inset;
    border-radius: 60px/20px;
    padding: 10px;
    min-height: 60em;
    background-image: linear-gradient(to right, transparent 70%, #0d0d0d 100%), linear-gradient(to bottom, transparent 70%, #0d0d0d 100%), linear-gradient(to left, transparent 70%, #0d0d0d 100%), linear-gradient(to top, transparent 70%, #0d0d0d 100%), radial-gradient(transparent 70%, #0d0d0d 100%), repeating-linear-gradient(#4d4d4d, #4d4d4d 1px, #0d0d0d 1px, #0d0d0d 2px);
}

#my-content>article>*{
    border-color: #00b51c;
    color: #00b51c;
}

#my-content #my-paginator{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#my-paginator>li{
    display: block;
}

#my-footer{
    grid-area: footer;
    display: flex;
    height: 10em;
    align-items: center;
    justify-content: center;
    background: white;
}

@media screen and (max-width: 1300px){
    #my-body{
        grid-template-areas: "header header header" "content content sidebar" "footer footer footer";
    }

    #my-header{
        height: 3em;
        background: black;
        position: sticky;
        top: 0;
    }

    #my-header>*{
        display: none;
    }

    #my-content{
        padding: 1em;
    }

    #my-sidebar{
        justify-self: unset;
        top: 3em;
    }
}

@media screen and (max-width: 500px) {
    #my-body{
        grid-template-areas: "header header header" "content content content" "sidebar sidebar sidebar" "footer footer footer";
    }

    #my-content{
        padding: 1em;
    }

    #my-sidebar{
        display: none;
        position: unset;
    }

    #my-sidebar.open{
        display: block;
    }
}

@supports (display: -ms-grid){
    #my-body{
        display: -ms-grid;
        -ms-grid-columns: 1fr 60% 1fr;
        -ms-grid-rows: auto;
    }

    #my-header{
        -ms-grid-column-span: 3;
    }

    #my-sidebar{
        -ms-grid-column: 3;
        -ms-grid-row: 2;
        -ms-grid-column-align: end;
    }

    #my-content{
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    #my-footer{
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        -ms-grid-column-span: 3;
    }

    @media screen and (max-width: 1300px){
        #my-body{
            -ms-grid-columns: 80% 1fr;
        }
    
        #my-header{
            -ms-grid-column-span: 2;
        }

        #my-content{
            -ms-grid-column: 1;
            -ms-grid-row: 2;
        }

        #my-sidebar{
            -ms-grid-column: 2;
            -ms-grid-row: 2;
            -ms-grid-column-align: unset;
        }

        #my-footer{
            -ms-grid-column-span: 2;
        }
    }

    @media screen and (max-width: 500px) {
        #my-body{
            -ms-grid-columns: 100%;
        }

        #my-content{
            -ms-grid-row: 2;
        }

        #my-sidebar{
            -ms-grid-row: 3;
        }

        #my-footer{
            -ms-grid-row: 4;
        }
    }
}

@media print {
    *{
        all: unset;
    }
    
    *:not(#bius-content){
        display: none;
    }

    #bius-content, #bius-content>article{
        border: none;
        padding: 0;
        margin: 0;
    }

    article>*{
        color: unset;
        border-color: unset;
    }
}